{% extends 'base.html.twig' %}

{% block title %}Fiche Artiste{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de l'Artiste</h1>
<hr>
<div class="row pt-2"> 
    {% set nbalbums = leArtiste.albums|length %}
    <div>
        <h3 class="card-header">{{ leArtiste.nom }}</h3>
        <div class="row">
            <div class="col-3 d-flex align-items-center mx-auto"> 
                <img class="avatar mx-auto d-block" src="{{ leArtiste.image }}" alt="">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ nbalbums }} {% if nbalbums > 1 %} albums {% else %} album {% endif %}
                    </h5> 
                    <p class="card-text">{{ leArtiste.description|raw }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% if leArtiste.type == 0 %} Artiste {% else %} Groupe {% endif %}</li>
                    <li class="list-group-item"><a href="{{ leArtiste.site }}">Son site web</a></li>
                </ul> 
            </div>  
        </div>
    </div>
</div>
<table class="table table-hover mx-auto">
    <thead>
        <tr>
            <th scope="col-3">Photo</th>
            <th scope="col-4">Nom</th>
            <th scope="col-1">Date</th>
            <th scope="col-3">Style</th>
            <th scope="col-1">Morceaux</th>
        </tr>
    </thead>
    <tbody>
    {% for leAlbum in leArtiste.albums %}
        <tr>
            <td><img class="miniature" src="{{ leAlbum.image }}" alt=""></td>
            <td scope="row"><a href="{{ path('fiche_album', {'id': leAlbum.id}) }}">{{ leAlbum.nom }}</a></td>
            <td>{{ leAlbum.date }}</td>
            <td>
                {% for leStyle in leAlbum.styles %}
                    {{ leStyle.nom }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ leAlbum.morceaux|length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
