{% extends 'base.html.twig' %}

{% block title %}Listes des artistes{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">liste des artistes</h1>
<hr>
<div class="row pt-2"> 
{% for leArtiste in lesArtistes %}
    <div class="col-sm-12 col-md-4 col-lg-4 col col-xl-3">
            {% set nbalbums = leArtiste.albums|length %}
            <div class="card mb-3">
                <h3 class="card-header"> <a href="{{path('ficheArtiste',{'id':leArtiste.id})}}">{{leArtiste.nom}}</a> </h3>
                <div class="card-body">
                    <h5 class="card-title">
                    <a href="" class="badge.badge-success"</a> {{nbalbums}} {% if nbalbums > 1 %} albums {% else %} album {% endif %}  
                    </h5> 
                </div>
                <img class="avatar mx-auto d-block"src="{{leArtiste.image}}" alt="Card image">
            
                <div class="card-body">
                    <p class="card-text">{{leArtiste.description|slice(0,200)|raw}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% if leArtiste.type == 0 %} Artiste  {% else %} Groupe {% endif %}
                    </li>
                    <li class="list-group-item"><a href="{{leArtiste.site}}">son site web</a></li>
                </ul>     
            </div>
    </div>
{% endfor %}
</div>

{% endblock %}
