{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Liste des artistes</h1>
<hr>
<div class="row pt-2">
{% for leArtiste in lesArtistes %}
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">

    {% set nbAlbums = leArtiste.albums|length %}
        
    <div class="card mb-3">
        <h3 class="card-header"> 
            <a href="{{ path('ficheArtistes', {'id': leArtiste.id }) }}">{{ leArtiste.nom }}</a>
        </h3>
        <div class="card-body">
            <a href="{{path('app_albums')}}" class="badge badge-success">{{ nbAlbums }}<h5 class="card-title"> {% if nbAlbums > 1 %} albums {% else %} album {% endif %}</h5></a>
        </div>
        <img class="avatar mx-auto d-block" src="{{ leArtiste.image }}" width="200px" height="auto" />
        <div class="card-body">
            <p class="card-text">{{ leArtiste.description|slice(0, 200)|raw }}...</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% if leArtiste.type == 0 %} Artiste solo {% else %} Groupe {% endif %}</li>
            <li class="list-group-item"> <a href="{{ leArtiste.site }}">son site web</a></li>
        </ul>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
