{% extends 'base.html.twig' %}

{% block title %}Fiche album{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche des albums</h1>
<hr>

            <div>
                <h3 class="card-header"> {{leAlbum.nom}}</h3>
                <div class="row">
                    <div class="col-3 d-flex align-items-center mx-auto"> 
                      <img class="avatar mx-auto d-block"src="{{leAlbum.image}}" alt="">
                      </div>
        <div class="col">
          <div class="card-body">
                      <h5 class="card-title">
                      <a href=" {{path('ficheArtiste', {'id': leAlbum.artiste.id })}}  class="badge.badge-success"> {{leAlbum.artiste.nom}}</a>
                      </h5> 
                    <p class="card-text">{{leAlbum.date}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for leStyle in leAlbum.styles %}
                            <span class="badge" style ="bacground-color: {{leStyle.couleur}};"> {{leStyle.nom}}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                    {% set nb = leAlbum.morceaux|length %}
                    {{nb}} {% if nb>1 %} morceaux {% else %} morceau {% endif %}
                    </li>
                </ul> 
          </div>  
        </div>  
      </div>

<table class="table table-hover mx-auto">
  <thead>
    <tr>
      <th scope="col-3">piste</th>
      <th scope="col-4">Titre</th>
      <th scope="col-1">Durée</th>
      <th scope="col-3">Note</th>
    </tr>
  </thead>
  <tbody>
  {% for leMorceau in leAlbum.morceaux %}
            <tr>
            <td scope="row"> </td>
            <td>{{leMorceau.titre}}</td>
            <td>{{leMorceau.durée}}</td>
            </tr>
  {% endfor %}
    
  </tbody>
</table>
{% endblock %}
