{% block body %}
<h1 class="text-center">Liste des albums</h1>
<div class="row">
    {% for leAlbum in lesAlbums %}
        <div class="col-md-3 col-lg-3 col-12 col-xl-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{{ path('fichAlbum', {'id': leAlbum.id }) }}">{{ leAlbum.nom }}</a>
                    </h3>
                    <span class="badge badge-success">
                        {% if leAlbum.morceaux|length > 0 %} {{ leAlbum.morceaux|length }} morceaux {% else %} Aucun morceau {% endif %}
                    </span>
                </div>
                <div class="card-body">
                    <img style="height: auto; width: 200px; display: block;" src="{{ leAlbum.image }}" alt="Card image">
                    <div class="card-text">
                        {{ leAlbum.date }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                {% for leStyle in leAlbum.styles %}
                                    <span class="badge" style="background-color: {{ leStyle.couleur }};">{{ leStyle.nom }}</span>
                                {% endfor %}
                            {% else %}
                                <span>Aucun style</span>
                            {% endif %}
                        </li>
                        {% set nb = leAlbum.morceaux|length %}
                        <li class="list-group-item">
                            {{ nb }} {% if nb > 1 %} morceaux {% else %} morceau {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
