{% extends 'base.html.twig' %}

{% block title %}Ajout/modif style{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
  {% if app.request.attributes.get('_route') == "admin_style_ajout" %}
    Ajout
  {% else %}
    Modification 
  {% endif %}
  d'un style
</h1>

{{ form_start(formStyle)}}
<div class="row">
  <div class="col-8">{{ form_row(formStyle.nom, {'attr': {'class': 'form-control'}}) }}</div>
  <div class="col">{{ form_row(formStyle.couleur, {'attr': {'class': 'form-control'}}) }}</div>
</div>

</div>

<div class="row">
  <div class="col">
    <a href="{{ path('admin_styles') }}" class="btn btn-warning btn-block">Annuler</a>
  </div>
  <div class="col">
    <input type="submit" class="btn btn-success btn-block" value="{% if app.request.attributes.get('_route') == 'admin_style_ajout' %}Ajouter le style{% else %}Modifier le style{% endif %}">
  </div>
</div>

{{ form_end(formStyle) }}

{% endblock %}
