{% extends 'base.html.twig' %}

{% block title %}Gestion styles{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des styles</h1>
<a href="{{ path('admin_style_ajout') }}" class="btn btn-success">Ajouter un style</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col-3">Couleur</th>
            <th scope="col-5">Nom</th>
            <th scope="col-2">Détails</th>
            <th scope="col-2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leStyle in lesStyles %}
            {% set nbalbums = leStyle.albums|length %}
            <tr>
                <td class="col-3"><span class="badge" style="display: inline-block; with:25px; height:15px; background-color:{{ leStyle.couleur }}; ></span></td>"
                <td class="col-5">{{ leStyle.nom }}</td>
                 <td class="col-2">
                 <span class="align-self-center badge badge-success">{{ nbalbums }} {% if nbalbums > 1 %} albums {% else %} album {% endif %}</span>
                </td>
                <td class="col-2">
                    <a href="{{ path('admin_style_modif', {'id': leStyle.id}) }}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="btn btn-danger" 
                       data-toggle="modal" 
                       data-target="#modalSimple"
                       data-titre="Suppression d'un style"
                       data-message="Êtes-vous sûr de vouloir supprimer le style : {{ leStyle.nom }} ?"
                       data-libelleBouton="Supprimer le style"
                       data-lien="{{ path('admin_style_suppression', {'id': leStyle.id}) }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
    {{ knp_pagination_render(lesStyles) }}
</div>
{% endblock %}

{% block javascripts %}
    {% include 'include/_modale.html.twig' %}
{% endblock %}
