{% extends 'base.html.twig' %}

{% block title %}Gestion artistes{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des artistes</h1>
<a href="{{ path('admin_artiste_ajout') }}" class="btn btn-success">Ajouter un artiste</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Détails</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leArtiste in lesArtistes %}
            {% set nbalbums = leArtiste.albums|length %}
            <tr>
                <td><img src="{{leArtiste.image}}"></td>
                <td>{{ leArtiste.nom }}</td>
                <td>
                    <div class="d-flex flex-row">
                        <span class="align-self-center badge badge-success">{{ nbalbums }} {% if nbalbums > 1 %} albums {% else %} album {% endif %}</span>
                        <span class="align-self-center mx-3">{% if leArtiste.type == 0 %} Artiste Solo {% else %} Groupe {% endif %}</span>
                        <span class="align-self-center ml-auto">{{ leArtiste.site }}</span>
                    </div>
                    <p>{{ leArtiste.description|slice(0, 100) }}...</p>
                </td>
                <td>
                    <a href="{{ path('admin_artiste_modif', {'id': leArtiste.id}) }}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="btn btn-danger" 
                       data-toggle="modal" 
                       data-target="#modalSimple"
                       data-titre="Suppression d'un artiste"
                       data-message="Êtes-vous sûr de vouloir supprimer l'artiste : {{ leArtiste.nom }} ?"
                       data-libelleBouton="Supprimer l'artiste"
                       data-lien="{{ path('admin_artiste_suppression', {'id': leArtiste.id}) }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
    {{ knp_pagination_render(lesArtistes) }}
</div>
{% endblock %}

{% block javascripts %}
    {% include 'include/_modale.html.twig' %}
{% endblock %}
